<form method="get" action="/quizes/<%= quiz.id %>/answer">
	<p>Pregunta: <%= quiz.pregunta %> (<%= quiz.tematica %>)</p>
	<input type="text" name="respuesta" value="Responda aquí" />
	<input type="submit" value="Enviar" />
</form>
